<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.study.dao.ConsuilContentMapper" >

	<resultMap id="ContentResultMap" type="com.my.study.entity.ConsultContent" >
		<id column="id" property="id"/>
		<result column="item_index" property="itemIndex"/>
		<result column="content" property="content"/>
		<result column="type" property="type"/>
		<result column="state" property="state"/>
	</resultMap>


	<select id="findConsultContent"  resultMap="ContentResultMap">
		select * from consult_content
	</select>

</mapper>